@model ContentViewModel

<main>
    <h1>Паблик</h1>
    @if (Model.Posts != null)
    {
        foreach (var post in Model.Posts)
        {
            <div style="border: solid 1px; ">
                <h1>Автор: @post.Author</h1>
                <p>Тема обсуждения: @post.Name</p>
                <h3>Сообщение: @post.Content</h3>
                <p>Время публикации: @post.TimeCreated</p>
                <p>НОМЕР: @post.Id</p>
            </div>
        }
     }
    <form asp-controller="HomePage" method="post">
        <div>
            <div>
                <label asp-for="Title"></label>
                <input asp-for="Title">
                <span asp-validation-for="Title"></span>
            </div>
            <div>
                <label asp-for="Author"></label>
                <input asp-for="Author">
            </div>
            <div>
                <label asp-for="Content"></label>
                <textarea rows="5" cols="33" placeholder="123" asp-for ="Content">Напишите тему для обсуждения</textarea>
                <span asp-validation-for="Content"></span>
            </div>
            <button class="btn btn-outline-primary" asp-controller="HomePage" asp-action="CreatePost">Отправить</button>
        </div>
    </form>
</main>